<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Reviews</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <h1 class="heading"><span style="color: #6C151A;">ความคิดเห็น</span>ของผู้ใช้<br>บริการ</h1>
        <div class="carousel">
            {% for i in range(0, reviews|length, 3) %}
            <div class="slide">
          
                <div class="left-card">
                    {% if i < reviews|length %}
                    <div class="card">
                        {% if reviews[i].thumbnail %}
                        <img src="{{ reviews[i].thumbnail }}" alt="img" draggable="false">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/default.png') }}" alt="img" draggable="false">
                        {% endif %}
                        <div class="card-content">
                            <p>{{ reviews[i].review }}</p>
                            <div class="card-footer">
                                <span style="font-weight: 500; color: #000;">{{ reviews[i].name }}</span> <br>
                                <span> <span>{{ reviews[i].time }}</span></span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

             
                <div class="right-cards">
                    {% if i + 1 < reviews|length %}
                    <div class="card">
                        {% if reviews[i+1].thumbnail %}
                        <img src="{{ reviews[i+1].thumbnail }}" alt="img" draggable="false">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/default.png') }}" alt="img" draggable="false">
                        {% endif %}
                        <div class="card-content">
                            <p>{{ reviews[i+1].review }}</p>
                            <div class="card-footer">
                                <span style="font-weight: 500; color: #000;">{{ reviews[i+1].name }}</span><br>
                                <span> <span>{{ reviews[i+1].time }}</span></span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if i + 2 < reviews|length %}
                    <div class="card">
                        {% if reviews[i+2].thumbnail %}
                        <img src="{{ reviews[i+2].thumbnail }}" alt="img" draggable="false">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/default.png') }}" alt="img" draggable="false">
                        {% endif %}
                        <div class="card-content">
                            <p>{{ reviews[i+2].review }}</p>
                            <div class="card-footer">
                                <span style="font-weight: 500; color: #000;">{{ reviews[i+2].name }}</span><br>
                                <span> <span>{{ reviews[i+2].time }}</span></span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="navigation-buttons">
            <i id="left" class="fa fa-arrow-left"></i>
            <i id="right" class="fa fa-arrow-right"></i>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
